<% layout("/layouts/boilerplate") %>

<body>
<form method="get" action="/listings/create">
  <button> create </button>
</form>
   
<div class="row" >
  <% for ( item of alllistings){ %>

  <div class="hotel-card">
    <a href="/listings/<%=item._id%>" style="text-decoration: none;" >

  <img src="<%=item.image.url%>" alt="<%= item.title%>">
  <h3><%= item.title %></h3>

  <p class="price">Rs: <%= item.price %> /night</p>
</a>
</div>

<% }%>

</div>
</body>
